@{
    ViewBag.Title = "About";
}
<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlrzVw_kkdVLDCRpU9ny36-VJNG7PyoGrz0EgRaryZh0Oarr4o8bWjHrrbVusaQRwtIDY&usqp=CAU'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <main aria-labelledby="title">
        <h2>ABOUT</h2>

        <p>
            Dolby Labs was founded by Ray Dolby (1933–2013) in London, England, in 1965. In the same year, he invented the Dolby Noise Reduction system, a form of audio signal processing for reducing the background hissing sound on cassette tape recordings. His first U.S. patent on the technology was filed in 1969, four years later. The method was first used by Decca Records in the UK. After this, other companies began purchasing Dolby’s A301 technology, which was the professional noise reduction system used in recording, motion picture, broadcasting stations and communications networks. These companies include BBC, Pye, IBC, CBS Studios, RCA, and Granada.

            He moved the company headquarters to the United States (San Francisco, California) in 1976. The first product Dolby Labs produced was the Dolby 301 unit which incorporated Type A Dolby Noise Reduction, a compander-based noise reduction system. These units were intended for use in professional recording studios. Dolby was persuaded by Henry Kloss of KLH to manufacture a consumer version of his noise reduction. Dolby worked more on companding systems and introduced Type B in 1968.

            Dolby also sought to improve film sound. Upon investigation, Dolby found that many of the limitations in optical sound stemmed directly from its significantly high background noise. To filter this noise, the high-frequency response of theatre playback systems was deliberately curtailed… To make matters worse, to increase dialogue intelligibility over such systems, sound mixers were recording soundtracks with so much high-frequency pre-emphasis that high distortion resulted.
        </p>
    </main>
</body>