@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2>CONTACT</h2>



    <address>
        Plot no:30,Cyber Towers,Hyderabad<br />
        Redmond,98052-6399<br />
        Contact: 425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@dolby.com">Support@dolby.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@dolb.com">Marketing@dolby.com</a>
    </address>
</main>