@{
    ViewBag.Title = "Home Page";
}


<main>

<body>
        <img align="right" , src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn3OmikUHzpPh7bRp-hUmUBQvhtWo55sIqBg&usqp=CAU" />
        <div class="center">
            <font size="50">
                <b>WELCOME TO DOLBY ONLINE RECURITMENT</b>
            </font>
        </div>
    </body>
</main>